In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("cleaned_ola_uber_bookings.csv")

In [8]:
df.head( )

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,v_tat,c_tat,...,ride_distance,driver_ratings,customer_rating,booking_datetime,hour,day_name,month,date_only,revenue,fare_per_km
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,...,0,NaN,NaN,2024-07-26 14:00:00,14,Friday,July,2024-07-26,0,NaN
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,...,13,4.1,4.0,2024-07-25 22:20:00,22,Thursday,July,2024-07-25,158,12.153846
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,...,40,4.2,4.8,2024-07-30 19:59:00,19,Tuesday,July,2024-07-30,386,9.650000
3,2024-07-22 03:15:00,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,...,0,NaN,NaN,2024-07-22 03:15:00,3,Monday,July,2024-07-22,0,NaN
4,2024-07-02 09:02:00,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,...,45,4.0,3.0,2024-07-02 09:02:00,9,Tuesday,July,2024-07-02,822,18.266667

In [5]:
df.shape

(103024, 21)

In [6]:
df.columns

Index(['Date', 'Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Vehicle_Type', 'Pickup_Location', 'Drop_Location', 'V_TAT', 'C_TAT',
       'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason', 'Booking_Value',
       'Payment_Method', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating',
       'Vehicle Images', 'Unnamed: 20'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   date                        103024 non-null  object
 1   time                        103024 non-null  object
 2   booking_id                  103024 non-null  object
 3   booking_status              103024 non-null  object
 4   customer_id                 103024 non-null  object
 5   vehicle_type                103024 non-null  object
 6   pickup_location             103024 non-null  object
 7   drop_location               103024 non-null  object
 8   v_tat                       63967 non-null   float64
 9   c_tat                       63967 non-null   float64
 10  canceled_rides_by_customer  10499 non-null   object
 11  canceled_rides_by_driver    18434 non-null   object
 12  incomplete_rides            63967 non-null   object
 13  incomplete_rides_reason     3926 non-null    object
 14  booking_value               103024 non-null  int64
 15  payment_method              63967 non-null   object
 16  ride_distance               103024 non-null  int64
 17  driver_ratings              63967 non-null   float64
 18  customer_rating             63967 non-null   float64
 19  booking_datetime            103024 non-null  object
 20  hour                        103024 non-null  int64
 21  day_name                    103024 non-null  object
 22  month                       103024 non-null  object
 23  date_only                   103024 non-null  object
 24  revenue                     103024 non-null  int64
 25  fare_per_km                 63967 non-null   float64
dtypes: float64(5), int64(4), object(17)
memory usage: 20.4+ MB

In [8]:
df.drop(columns=["Unnamed: 20"], inplace=True)

In [10]:
df.drop(columns=["Vehicle Images"], inplace=True)

KeyError: "['Vehicle Images'] not found in axis"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 19 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date                        103024 non-null  object
 1   Time                        103024 non-null  object
 2   Booking_ID                  103024 non-null  object
 3   Booking_Status              103024 non-null  object
 4   Customer_ID                 103024 non-null  object
 5   Vehicle_Type                103024 non-null  object
 6   Pickup_Location             103024 non-null  object
 7   Drop_Location               103024 non-null  object
 8   V_TAT                       63967 non-null   float64
 9   C_TAT                       63967 non-null   float64
 10  Canceled_Rides_by_Customer  10499 non-null   object
 11  Canceled_Rides_by_Driver    18434 non-null   object
 12  Incomplete_Rides            63967 non-null   object
 13  Incomplete_Rides_Reason     3926 non-null    object
 14  Booking_Value               103024 non-null  int64
 15  Payment_Method              63967 non-null   object
 16  Ride_Distance               103024 non-null  int64
 17  Driver_Ratings              63967 non-null   float64
 18  Customer_Rating             63967 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 14.9+ MB

In [16]:
df.isnull().sum()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                         39057
C_TAT                         39057
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Incomplete_Rides              39057
Incomplete_Rides_Reason       99098
Booking_Value                     0
Payment_Method                39057
Ride_Distance                     0
Driver_Ratings                39057
Customer_Rating               39057
dtype: int64

In [17]:
df.isnull().sum().sort_values(ascending=False).head(10)

Incomplete_Rides_Reason       99098
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Driver_Ratings                39057
Incomplete_Rides              39057
C_TAT                         39057
V_TAT                         39057
Payment_Method                39057
Customer_Rating               39057
Date                              0
dtype: int64

In [18]:
df.replace(["null", "NULL","Null","n/a","N/A","na"],np.nan,inplace=True)

In [ ]:
df.head(15)

In [25]:
df["Date"] = pd.to_datetime(df["Date"],format="%Y-%m-%d %H:%M:%S", errors= "coerce" )

In [27]:
df["booking_datetime"] = df["Date"]

In [29]:
df["hour"] = df["booking_datetime"].dt.hour
df["day_name"] = df["booking_datetime"].dt.day_name()
df["month"] = df["booking_datetime"].dt.month_name()
df["date_only"] = df["booking_datetime"].dt.date

In [31]:
df["booking_datetime"].dtype

dtype('<M8[ns]')

In [ ]:
df.info()

In [34]:
df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()
df.columns

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'v_tat', 'c_tat',
       'canceled_rides_by_customer', 'canceled_rides_by_driver',
       'incomplete_rides', 'incomplete_rides_reason', 'booking_value',
       'payment_method', 'ride_distance', 'driver_ratings', 'customer_rating',
       'booking_datetime', 'hour', 'day_name', 'month', 'date_only'],
      dtype='object')

In [35]:
df["booking_status"].value_counts()

booking_status
Success                 63967
Canceled by Driver      18434
Canceled by Customer    10499
Driver Not Found        10124
Name: count, dtype: int64

In [36]:
df.isnull().sum().sort_values(ascending=False).head(12)

incomplete_rides_reason       99098
canceled_rides_by_customer    92525
canceled_rides_by_driver      84590
driver_ratings                39057
c_tat                         39057
payment_method                39057
incomplete_rides              39057
v_tat                         39057
customer_rating               39057
pickup_location                   0
vehicle_type                      0
customer_id                       0
dtype: int64

In [37]:
(df["booking_status"].value_counts(normalize =True)*100).round(2)

booking_status
Success                 62.09
Canceled by Driver      17.89
Canceled by Customer    10.19
Driver Not Found         9.83
Name: proportion, dtype: float64

In [38]:
total = len(df)

success = (df["booking_status"] == "Success").sum()
cancel_driver = (df["booking_status"] == "Canceled by Driver").sum()
cancel_customer = (df["booking_status"] == "Canceled by Customer").sum()
driver_not_found = (df["booking_status"] == "Driver Not Found").sum()

print("Total Bookings:", total)
print("Success:", success)
print("Canceled by Driver:", cancel_driver)
print("Canceled by Customer:", cancel_customer)
print("Driver Not Found:", driver_not_found)

print("\nSuccess Rate %:", round(success/total*100, 2))
print("Cancellation Rate %:", round((cancel_driver+cancel_customer)/total*100, 2))
print("Driver Not Found %:", round(driver_not_found/total*100, 2))

Total Bookings: 103024
Success: 63967
Canceled by Driver: 18434
Canceled by Customer: 10499
Driver Not Found: 10124

Success Rate %: 62.09
Cancellation Rate %: 28.08
Driver Not Found %: 9.83

In [39]:
df.isnull().sum().sort_values(ascending=False).head(12)

incomplete_rides_reason       99098
canceled_rides_by_customer    92525
canceled_rides_by_driver      84590
driver_ratings                39057
c_tat                         39057
payment_method                39057
incomplete_rides              39057
v_tat                         39057
customer_rating               39057
pickup_location                   0
vehicle_type                      0
customer_id                       0
dtype: int64

In [40]:
df["vehicle_type"].value_counts()

vehicle_type
Prime Sedan    14877
eBike          14816
Auto           14755
Prime Plus     14707
Bike           14662
Prime SUV      14655
Mini           14552
Name: count, dtype: int64

In [43]:
df[df["booking_status"]=="Success"]["vehicle_type"].value_counts()

vehicle_type
Prime Sedan    9379
eBike          9180
Auto           9167
Bike           9134
Prime Plus     9075
Mini           9036
Prime SUV      8996
Name: count, dtype: int64

In [45]:
vehicle_summary = df.groupby("vehicle_type").agg(
    total_bookings=("booking_id", "count"),
    successful_rides=("booking_status", lambda x: (x == "Success").sum()),
    cancelled_by_driver=("booking_status", lambda x: (x == "Canceled by Driver").sum()),
    cancelled_by_customer=("booking_status", lambda x: (x == "Canceled by Customer").sum()),
    driver_not_found=("booking_status", lambda x: (x == "Driver Not Found").sum()),
   
    avg_fare=("booking_value", "mean"),
    avg_distance=("ride_distance", "mean"),
    unique_customers=("customer_id", "nunique"),
    avg_driver_rating=("driver_ratings", "mean")
).reset_index()

vehicle_summary["success_rate_%"] = (vehicle_summary["successful_rides"] / vehicle_summary["total_bookings"] * 100).round(2)

vehicle_summary.sort_values(by="successful_rides", ascending=False)

,vehicle_type,total_bookings,successful_rides,cancelled_by_driver,cancelled_by_customer,driver_not_found,avg_fare,avg_distance,unique_customers,avg_driver_rating,success_rate_%
5,Prime Sedan,14877,9379,2591,1470,1437,557.814882,15.764939,14321,3.990681,63.04
6,eBike,14816,9180,2694,1512,1430,552.208626,15.580589,14241,4.006743,61.96
0,Auto,14755,9167,2675,1503,1410,548.438495,6.238089,14148,4.003938,62.13
1,Bike,14662,9134,2559,1537,1432,544.745192,15.533079,14127,3.984651,62.30
3,Prime Plus,14707,9075,2683,1474,1475,547.418848,15.447474,14203,3.997785,61.71
2,Mini,14552,9036,2584,1505,1427,549.133865,15.510102,14031,3.992807,62.09
4,Prime SUV,14655,8996,2648,1498,1513,541.339475,15.274514,14073,4.005780,61.39

In [ ]:
df.groupby("booking_status")["v_tat"].mean()

booking_status
Canceled by Customer          NaN
Canceled by Driver            NaN
Driver Not Found              NaN
Success                 84.873372
Name: c_tat, dtype: float64

In [48]:
df.groupby("booking_status")["c_tat"].mean()

booking_status
Canceled by Customer          NaN
Canceled by Driver            NaN
Driver Not Found              NaN
Success                 84.873372
Name: c_tat, dtype: float64

In [54]:
df["canceled_rides_by_customer"].value_counts()

canceled_rides_by_customer
Driver is not moving towards pickup location    3175
Driver asked to cancel                          2670
Change of plans                                 2081
AC is Not working                               1568
Wrong Address                                   1005
Name: count, dtype: int64

In [55]:
df["canceled_rides_by_driver"].value_counts()

canceled_rides_by_driver
Personal & Car related issue           6542
Customer related issue                 5413
Customer was coughing/sick             3654
More than permitted people in there    2825
Name: count, dtype: int64

In [56]:
df["booking_value"].mean()

np.float64(548.7518830563752)

In [57]:
df["payment_method"].value_counts()

payment_method
Cash           35022
UPI            25881
Credit Card     2435
Debit Card       629
Name: count, dtype: int64

In [59]:
df.groupby("canceled_rides_by_customer").agg(
    driver_rating = ("driver_ratings","mean")
)

                                              driver_rating
canceled_rides_by_customer
AC is Not working                                       NaN
Change of plans                                         NaN
Driver asked to cancel                                  NaN
Driver is not moving towards pickup location            NaN
Wrong Address                                           NaN

In [61]:
success_df = df[df["booking_status"] == "Success"].copy()
success_df[["v_tat", "driver_ratings"]].corr()

                 v_tat  driver_ratings
v_tat           1.0000         -0.0023
driver_ratings -0.0023          1.0000

In [62]:
df["pickup_location"].value_counts().head(10)

pickup_location
Banashankari        2201
Yeshwanthpur        2139
RT Nagar            2135
Indiranagar         2133
Sahakar Nagar       2126
Basavanagudi        2120
Ramamurthy Nagar    2116
Vijayanagar         2113
Tumkur Road         2105
Cox Town            2100
Name: count, dtype: int64

In [63]:
df["drop_location"].value_counts().head(10)

drop_location
Peenya           2159
Mysore Road      2148
MG Road          2128
Hennur           2120
HSR Layout       2117
Sarjapur Road    2108
Koramangala      2105
Marathahalli     2104
Vijayanagar      2103
Hebbal           2097
Name: count, dtype: int64

In [64]:
df[df["booking_status"] == "Canceled by Driver"]["pickup_location"].value_counts().head(10)

pickup_location
Tumkur Road      424
Whitefield       418
Sarjapur Road    415
Langford Town    411
Kengeri          402
BTM Layout       400
Banashankari     396
Vijayanagar      396
JP Nagar         394
Hosur Road       393
Name: count, dtype: int64

In [65]:
df[df["booking_status"] == "Canceled by Customer"]["pickup_location"].value_counts().head(10)

pickup_location
Vijayanagar         247
Bellandur           237
Magadi Road         230
Ramamurthy Nagar    230
Devanahalli         229
Banashankari        229
Frazer Town         227
Shivajinagar        226
Yeshwanthpur        226
RT Nagar            225
Name: count, dtype: int64

In [73]:
df[df["booking_status"] == "Driver Not Found"]["pickup_location"].value_counts().head(10)

pickup_location
Hennur           228
Marathahalli     225
Mysore Road      220
Peenya           220
Hosur Road       219
Cox Town         218
Sahakar Nagar    218
Kengeri          217
Kammanahalli     215
Nagarbhavi       215
Name: count, dtype: int64

In [75]:
df[df["booking_status"] == "Success"]["pickup_location"].value_counts().head(10)

pickup_location
Banashankari        1365
Yeshwanthpur        1353
Ramamurthy Nagar    1338
Indiranagar         1335
Cox Town            1335
Magadi Road         1322
Basavanagudi        1322
RT Nagar            1321
Koramangala         1319
Mysore Road         1313
Name: count, dtype: int64

In [ ]:
df.head(20)

In [78]:
success_df = df[df["booking_status"] == "Success"].copy()
success_df["revenue"] = success_df["booking_value"]

pickup_revenue = success_df.groupby("pickup_location")["revenue"].sum().sort_values(ascending=False)

top_pickup_location = pickup_revenue.index[0]

top_location_total_revenue = pickup_revenue.iloc[0]

top_location_avg_revenue = success_df.loc[
    success_df["pickup_location"] == top_pickup_location, "revenue"
].mean()

print("Top Pickup Location:", top_pickup_location)
print("Total Revenue:", top_location_total_revenue)
print("Average Revenue:", round(top_location_avg_revenue, 2))

Top Pickup Location: RT Nagar
Total Revenue: 777106
Average Revenue: 588.27

In [81]:
df["hour"] = df["date"].dt.hour
df["day_name"] = df["date"].dt.day_name()
hour_counts = df["hour"].value_counts().sort_index()
hour_counts
peak_hour = hour_counts.idxmax()
peak_hour_count = hour_counts.max()

print("Peak Hour:", peak_hour)
print("Bookings at Peak Hour:", peak_hour_count)

Peak Hour: 12
Bookings at Peak Hour: 4408

In [87]:
day_counts = df["day_name"].value_counts()
day_counts
peak_day = day_counts.idxmax()
peak_day_count = day_counts.max()

print("Peak Day:", peak_day)
print("Bookings on Peak Day:", peak_day_count)

Peak Day: Tuesday
Bookings on Peak Day: 16926

In [91]:
df["driver_ratings"].mean()
df["customer_rating"].mean()
print(df["driver_ratings"].mean())
print(df["customer_rating"].mean())

3.9974565010083327
3.9983131927400057

In [92]:
success_df.groupby("vehicle_type")["v_tat"].mean().sort_values()

vehicle_type
Prime SUV      168.827924
eBike          170.067974
Prime Sedan    170.642073
Bike           171.072367
Prime Plus     171.210358
Auto           171.698156
Mini           172.617087
Name: v_tat, dtype: float64

In [93]:
top_routes = (
    df.groupby(["pickup_location", "drop_location"])["booking_id"]
    .count()
    .reset_index(name="rides")
    .sort_values(by="rides", ascending=False)
)

top_routes.head(10)

       pickup_location    drop_location  rides
1363          Majestic           Hennur     67
1999     Sahakar Nagar     Yeshwanthpur     62
1860  Ramamurthy Nagar      Frazer Town     62
1070      Kammanahalli         Kadugodi     61
751           Hulimavu     Banashankari     60
216          Bellandur      Indiranagar     60
1346       Magadi Road      Vijayanagar     60
1581        Nagarbhavi       Nagarbhavi     60
367           Cox Town         JP Nagar     59
1309       Magadi Road  Electronic City     59

In [88]:
df["fare_per_km"] = df["booking_value"] / df["ride_distance"].replace(0, np.nan)

df["fare_per_km"].describe()

count    63967.000000
mean        57.790245
std        142.192086
min          2.040816
25%         10.102564
50%         20.352941
75%         48.800000
max       2981.000000
Name: fare_per_km, dtype: float64

In [94]:
df.to_csv("cleaned_ola_uber_bookings.csv", index=False)